@mixin button($color, $secondary) {
    background-color: $color;
    padding: 0.2em 0.5em;
    border: 1px solid $color;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    border: 1px solid $color;
    text-transform: uppercase;

    &:hover {
        background-color: $secondary;
        color: #fff;
        border: 1px solid $secondary;
        text-decoration: none;
    }
}

.button-grey {
    @include button($brand-grey, $brand-purple);
}

.button-blue {
    @include button($brand-blue, $brand-purple);
}

.button-purple {
    @include button($brand-purple, $brand-blue);
}