header {
    box-shadow: 0 2px 6px rgba(0,0,0,.5);
    background: #f1f2f2;
    padding-top: 1.5rem;
    padding-bottom: 0.6rem;

    margin-bottom: 4rem;

    .nav-logo {
        color: $brand-purple;
        font-weight: 100;
        font-size: 1.5rem;

        .font-logo {
            font-size: 4.4rem;
        }

        .font-logo-secondary {
            font-size: 2.5rem;
        }
    }
}

