.main__panel {
    padding: 2.5rem 4rem;
    border-radius: 0;
    border: 1px solid $brand-grey;
    margin-bottom: 3.5rem;
    height: 100%;
    

    h1 {
        margin: 0;
        padding-bottom: 1rem;

        &.border {
            border-bottom: 1px solid $brand-grey;
            margin-bottom: 1.5rem;
        }
        small {
            text-transform: uppercase;
            color: $brand-purple-light;
            float: right;
            line-height: 28px;
            cursor: pointer;
            font-weight: 700;
        }
    }

    &.alert {
        background-color: $brand-red;
        border-color: $brand-red;
        margin-bottom: 1.5rem;
        padding: 0.8rem 4rem;

        h1 {
            margin: 0;
            padding: 0;
            font-weight: 100;
            color: #fff;
            font-size: 22px;
        }
    }

    &.purple {

        border-color: $brand-purple;

        h1 {
            box-sizing: border-box;
            display: block;
        }
    }

    &.reject {
        border: 2px solid $brand-red;
        background-color: $panel-grey;

        h1 {
            color: $brand-red;
        }
    }

    &.equal-col {
        min-width: 250px;
    }

    &.padding-sm {
        padding: 1rem 3rem;
        margin-top: 3.5rem;
    }

    .input-field {
        height: 4rem;
        border-radius: 3px;
        font-size: 3rem;
        padding: 2rem 1rem;
        font-weight: 700;
        border: 1px solid $brand-grey;
        margin-bottom: 2rem;
        width: 60%;

        @media(max-width: $screen-sm-max) {
            width: 100%;
        }
    }
}