h1, h2, h4 {
    font-family: "source-sans-pro",sans-serif;
    margin: 0.3em 0;
    color: $brand-purple;

    &.black {
        color: $brand-black;
        font-size: 35px;
    }
}

p {
    font-family: "liberation-sans",sans-serif;
    font-size: 15px;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 30px;

    @media(max-width: $screen-sm-min) {
        font-size: 24px;
    }
}

h2 {
    font-size: 24px;
    font-weight: 700;

    @media(max-width: $screen-sm-min) {
        font-size: 20px;
    }
}

h3 {
    font-size: 20px;
    line-height: 1.4em;
    font-family: "Arial", sans-serif;
    color: $brand-purple;
    font-weight: 700;
    margin: 0.5rem 0;

    @media(max-width: $screen-sm-min) {
        font-size: 16px;
    }
}

h6 {
    color: $brand-purple;
    display: inline-block;

    &.black {
        color: $brand-black;
        margin-top: 0;
    }

    @media(max-width: $screen-sm-max) {
        margin-top: 2rem;
    }
}