$brand-red: #ed1c24;
$brand-purple: #520969;
$brand-purple-light: #990099;
$brand-blue: #00adef;
$brand-black: #000;

$brand-grey: #acacac;
$nav-grey: #f1f2f2;

$panel-grey: #e8e8e8;

$footer-grey: #545353;
